files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_storage_writable.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      chown nodejs:nodejs /tmp/deployment/application/node_modules/
      chown nodejs:nodejs /tmp/.npm/
      chmod -R 755 /tmp/deployment/application/node_modules/
      chmod -R 755 /tmp/.npm/
packages:
  yum:
    gcc: []
    make: []
    openssl-devel: []
    libxml2: []
    libxml2-devel: []
    gcc-c++: []
